<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiVinno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cardapio.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rodape.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/botao.css') }}">
</head>
<body>
    <div class="logo-container">
        <div>
            <a href="{{ url_for('inicial')}}">
                <img href="/" class="logo" src="{{ url_for('static', filename='img/Logo_page-0001.jpg') }}">
            </a>
        </div>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-list">
            <li><a href="{{ url_for('inicial')}}" class="sobre">Sobre a Divinno</a></li>
            <div class="separator"></div>
            <li><a href="{{ url_for('contato')}}" class="contato">Contato</a></li>
        </ul>
    </div>

    <div class="primeiro">
        <h2 class="letra_imagem">"O melhor vinho, em qualquer horário e lugar"</h2>
    </div>

    <div class="segundo">
        <h3>Selecionar categoria</h3>
        <button class="esquerda">PlaceHolder</button>
        <button class="meio">PlaceHolder</button>
        <button class="direito">PlaceHolder</button>
    </div>

    <div class="vinhos-container">
        <div class="vinho">
            <img src="{{ url_for('static', filename='img/bordo.png') }}">
            <h3>Vinho antigo</h3>
            <button>Eu quero</button>
        </div>
        <div class="vinho">
            <img src="{{ url_for('static', filename='img/bordo.png') }}">
            <h3>Vinho recente</h3>
            <button>Eu quero</button>
        </div>
        <div class="vinho">
            <img src="{{ url_for('static', filename='img/bordo.png') }}">
            <h3>Vinho</h3>
            <button>Eu quero</button>
        </div>
        <div class="vinho">
            <img src="{{ url_for('static', filename='img/bordo.png') }}">
            <h3>Vinho</h3>
            <button>Eu quero</button>
        </div>
        <div class="vinho">
            <img src="{{ url_for('static', filename='img/bordo.png') }}">
            <h3>Vinho</h3>
            <button>Eu quero</button>
        </div>
        <div class="vinho">
            <img src="{{ url_for('static', filename='img/bordo.png') }}">
            <h3>Vinho</h3>
            <button>Eu quero</button>
        </div>
    </div>

    <div class="logo-content-rodape">
        <div>
            <a href="{{ url_for('inicial')}}">
                <img href="/" class="logo-rodape" src="{{ url_for('static', filename='img/Logo_page-0001.jpg') }}">
            </a>
        </div>
        <div class="visivel">
            <hr class="linha">
            <div class="paragrafos">
                <p>© 2024 Divinno, Todos os direitos reservados </p>
                <p>Desenvolvido por:Otávio Esboriol da Silva e Guilherme Colleti da Silva</p>
            </div>
        </div>
    </div>
        <!-- legal -->
    <script>
         // Scroll para o topo quando a página for recarregada
        window.onbeforeunload = function () {
            window.scrollTo(0, 0);
        };

        // Animação para o slogan e seções
        window.addEventListener('DOMContentLoaded', function() {
            const slogan = document.querySelector('.letra_imagem');
            slogan.classList.add('visible');

            const sections = document.querySelectorAll('.section');

            // Função para verificar se o dispositivo é móvel
            const isMobileDevice = () => {
                return window.innerWidth <= 768; // Ajuste conforme necessário
            };

            if (isMobileDevice()) {
                // Adiciona a classe visível para dispositivos móveis
                sections.forEach(section => {
                    section.classList.add('visible');
                });
            } else {
                // Para desktops, adicionar animação na rolagem
                window.addEventListener('scroll', function() {
                    sections.forEach(section => {
                        const rect = section.getBoundingClientRect();
                        if (rect.top < window.innerHeight - 50) {
                            section.classList.add('visible');
                        }
                    });
                });
            }
        });

        const mobileMenu = document.getElementById("mobile-menu");
        const navList = document.querySelector(".nav-list");

        mobileMenu.addEventListener("click", () => {
            navList.classList.toggle("active"); // Alterna a classe 'active' para mostrar/ocultar o menu
        });
    </script>
</body>
</html>